.dishes-card__structure {
    font-family: 'Helvetica neue';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.15000000596046448px;
    margin: 0 30px 0 30px;

    color: #A4A8B2;

}