.header__link {
    margin: 0;
    margin: 39px 0 39px 0;
    text-decoration: none;
    font-family: 'Helvetica neue';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 14px;
}

.header__link:not(:last-child) {
    margin-right: 45px;
}

.header__link:hover {
    color: #34C759;
    transition: color .5s linear;
} 