.recipes-card {
    list-style: none;
    width: 540px;
    padding: 30px 58px 25px 30px;
    height: 150px;

    border-radius: 10px;
    box-sizing:border-box;
    
    margin-bottom: 30px;
}

.recipes-card:first-child {
    grid-row: 1 / 4;
    margin-bottom: 0;
}

.recipes-card:last-child {
    margin-bottom: 0;
}