@font-face {
    src: url("./HelveticaNeueCyr-Black.woff2") format('woff2'),
         url("./HelveticaNeueCyr-Black.woff") format('woff'),
         url("./HelveticaNeueCyr-Black.ttf") format('truetype'),
         url("./HelveticaNeueCyr-Black.eot") format('eot');
    font-family: 'Helvetica neue';
    font-weight: 900;
    font-style: normal;
}

@font-face {
    src: url("./HelveticaNeueCyr-Bold.woff2") format('woff2'),
         url("./HelveticaNeueCyr-Bold.woff") format('woff'),
         url("./HelveticaNeueCyr-Bold.ttf") format('truetype'),
         url("./HelveticaNeueCyr-Bold.eot") format('eot');
    font-family: 'Helvetica neue';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url("./HelveticaNeueCyr-Medium.woff2") format('woff2'),
         url("./HelveticaNeueCyr-Medium.woff") format('woff'),
         url("./HelveticaNeueCyr-Medium.ttf") format('truetype'),
         url("./HelveticaNeueCyr-Medium.eot") format('eot');
    font-family: 'Helvetica neue';
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url("./HelveticaNeueCyr-Roman.woff2") format('woff2'),
         url("./HelveticaNeueCyr-Roman.woff") format('woff'),
         url("./HelveticaNeueCyr-Roman.ttf") format('truetype'),
         url("./HelveticaNeueCyr-Roman.eot") format('eot');
    font-family: 'Helvetica neue';
    font-weight: 400;
    font-style: normal;
}




